<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GBufferedInput amd64 Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>GBufferedInput amd64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GBufferedInput i386 Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>GBufferedInput i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F01B0431E2402D3004F4D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F01B0671E240422004F4D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F01B0721E240427004F4D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F01B07D1E24042B004F4D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F01B0A21E240445004F4D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
